body  {

    font-family: Arial,  sans-serif;
}


header  {

    background-color: rgb(34, 27, 44);
    color: #fff;
    text-align: center;
    padding: 1em;

}


main {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;

}


#chat {

    height: 0px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 0px;

}


#message-input {
    
    margin-top: 20px;

}